* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	line-height: 1.4;
}

/* Product */
.product {
	border: 5px solid black;
	width: 825px;
	margin: 50px auto;
	margin-top: 50px;
	height: auto;
}

.title-product {
	text-align: center;
	background-color: #f7f7f7;
	font-size: 22px;
	text-transform: uppercase;
	padding: 20px;
}

img {
	width: 300px;
	height: 300px;
	margin-bottom: 5px;
}

.price {
	font-size: 24px;
}

.sheeping {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: #777;
	margin-bottom: 20px;
}

.info-product {
	margin-bottom: 10px;
}

.more-info {
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.more-info:link,
.more-info:visited {
	color: black;
}

.more-info:hover,
.more-info:active {
	text-decoration: none;
}

/* Product details */

.details-title {
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 30px;
}

.product-list {
	list-style: square;
}

.product-list li {
	margin-left: 25px;
	padding-left: 10px;
	margin-bottom: 10px;
}

.add-cart {
	color: white;
	background-color: black;
	border:none;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	padding: 15px;
	width: 100%;
	border-top: 5px solid black;
}

.add-cart:hover {
	background-color: white;
	color: black;
}